p:first-of-type {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    text-indent: 2em;
    text-transform: capitalize;
}

p:nth-of-type(2):hover {
    color: red;
    font-weight: bold;
}

a {
    text-decoration: none;
}